.notice {
    position: fixed;
    width: 40%;
    height: 4vh;
    bottom: 2vh;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5vw;
    backdrop-filter: blur(3rem);

    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 999
}

.notice-txt {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);

    color: white;
    font-weight: 600;
    width: 100%;
    text-align: center;
    z-index: 1000;
}